[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
bs4 = "*"
gunicorn = "*"
uvicorn = "*"
fastapi = "*"
python-decouple = "*"
ujson = "*"
selenium = "*"
alembic = "*"
sqlalchemy = "*"
fastapi-sqlalchemy = "*"
celery = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
